<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gmi700_pbs_server.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <gmi700_pbs_server.My.MySettings>
      <setting name="IsDebugMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DayToKeepTextLog" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="TimeSyncWhenPattern_yyyyMMddHHmm" serializeAs="String">
        <value>????????0001</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value />
      </setting>
    </gmi700_pbs_server.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="gmi700_pbs_server.My.MySettings.fct_gmi700_pbsConnectionString"
    connectionString="Data Source=localhost;Initial Catalog=fct_gmi700_pbs;Persist Security Info=True;User ID=sa;Password=tsetsetse"
    providerName="System.Data.SqlClient" />
  <add name="fct_gmi700_pbsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=fct_gmi700_pbs;persist security info=True;user id=sa;password=tsetsetse;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
</connectionStrings></configuration>